[Unit]
Description=Angrezi hooks for tusd upload server

[Service]
Type=simple
ExecStart=/usr/bin/node index.js --port 3002
WorkingDirectory=/media/storage/share/upload/
User=root

TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target